

<p>
  <strong>Nombre:</strong>
  <%= @tienda.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tienda.descripcion %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @tienda.empresa %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @tienda.user %>
</p>

<%= link_to 'Edit', edit_tienda_path(@tienda) %> |
<%= link_to 'Back', tiendas_path %>
