<%= form_for(@ciudad) do |f| %>
  <% if @ciudad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ciudad.errors.count, "error") %> prohibited this ciudad from being saved:</h2>

      <ul>
      <% @ciudad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :departamento_id %><br>
    <%= f.collection_select :departamento_id, Departamento.order(:name), :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :region_id %><br>
    <%= f.collection_select :region_id, Region.order(:name), :id, :name, include_blank: true %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
