
<h1>Listing Ventas  <%= link_to '+', new_ventum_path %></h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Qexistencia</th>
      <th>Qventa</th>
      <th>Puntoventum</th>
      <th>Equipo</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venta.each do |ventum| %>
      <tr>
        <td><%= ventum.fecha %></td>
        <td><%= ventum.qexistencia %></td>
        <td><%= ventum.qventa %></td>
        <td><%= ventum.puntoventum %></td>
        <td><%= ventum.equipo %></td>
        <td><%= ventum.user.name %></td>
        <td><%= link_to 'Show', ventum %></td>
        <td><%= link_to 'Edit', edit_ventum_path(ventum) %></td>
        <td><%= link_to 'Destroy', ventum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venta', new_ventum_path %>
