<% title "Plan Visita" %>
<%= "Programación Visita .." %>
<ul>
	<div class="current">
	<p>
	  <strong>Usuarioasignado:</strong>
	  <%= @planvisitum.usuarioasignados.name %>
	</p>

	<p>
	  <strong>Fechavisita:</strong>
	  <%= @planvisitum.fechavisita %>
	</p>

	<p>
	  <strong>Puntoventum:</strong>
	  <%= @planvisitum.puntoventum.name %>
	</p>

	<p>
	  <strong>User:</strong>
	  <%= @planvisitum.user.name %>
	</p>
	
</ul>
