

<p>
  <strong>User:</strong>
  <%= @persona.user.name %>
</p>

<p>
  <strong>Usuarioasignado:</strong>
  <%= @persona.usuarioasignados.name %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @persona.ciudad.name %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
